!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title Document
    %link{rel: "stylesheet", href: "style.css"}
  %body
    %section.block1
      %h2 Contact US
      .block1__img
      %br
      %p
        New York, 4140 Parker Rd. Allentown,
        %br
        New Mexico 31134
    %section.block2
      %h5
        %span.phone +1 (555) 656 77 89
        info@sample.com